/* Dark Theme Register Page */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:
        linear-gradient(rgba(2, 6, 23, 0.2), rgba(2, 6, 23, 0.2)),
        /* Dark overlay */
        url('/public/assets/1.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    
}

.register-card {
    background: var(--card-bg);
    border-radius: 16px;
    padding: 3rem;
    width: 25%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 40%;
    
}

.register-title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: white;
    text-align: center;
}

.register-subtitle {
    color: var(--text-secondary);
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-label {
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    text-align: justify;
}

.form-input {
    padding: 0.8rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--card-hover);
    background-color: var(--bg-dark);
    color: var(--text-color);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.form-input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
}



.register-button {
    padding: 0.8rem;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 0.5rem;
}

.register-button:hover {
    background-color: var(--primary-hover);
    transform: translateY(-2px);
}

.register-footer {
    margin-top: 1.5rem;
    text-align: center;
    color: var(--text-secondary);
    font-size: 0.9rem;
}

.login-link {
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 500;
}

.login-link:hover {
    text-decoration: underline;
}

/* Add these to your existing CSS */

.password-group {
    position: relative;
}

.password-input-container {
    position: relative;
}

.password-input {
    padding-right: 40px;
    /* Make space for the icon */
    width: 90%;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}